<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{{pageTitle}} – {{collectionName}} | Nom Entreprise</title>
    <link rel="stylesheet" href="{{basePath}}/css/styles.css" />
  </head>
  <body>
    {{header}}

    <main>
      <!--<section class="path-product">Collections -> {{collectionName}}</section>-->
      <section class="collection-hero">
        <div class="collection-symbol">
          <img src="{{symbole}}" alt="Symbole {{collectionName}}" />
        </div>
        <div class="collec-name">
          <h1 class="collection-title">{{collectionName}}</h1>
        </div>
        <div class="collec-text">
          <p class="collection-description">{{collectionDescription}}</p>
        </div>
      </section>
      <section class="collection-products">
        <h2>Produits de la collection</h2>
        <div class="product-grid">{{productList}}</div>
      </section>
      <section class="other-collections">
        <h2>Autres collections</h2>
        <div class="other-collections-grid">{{otherCollections}}</div>
      </section>
      <div class="search-overlay">
        <div class="search-overlay-content">
          <button class="search-close" aria-label="Fermer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>

          <div class="search-box">
            <input
              type="text"
              class="search-input"
              placeholder="Rechercher un produit, une collection..."
              autocomplete="off"
            />
          </div>

          <div class="search-results"></div>
        </div>
      </div>
    </main>

    {{footer}}

    <script src="{{basePath}}/js/main.js"></script>
    <script src="{{basePath}}/js/mobile-menu.js"></script>
    <script src="{{basePath}}/js/search-data.js"></script>
    <script src="{{basePath}}/js/search.js"></script>
  </body>
</html>
