@use "../base/functions" as *;

// Breakpoints
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: 1920px) {
    //1440
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1025px) and (max-width: 1600px) {
    @content;
  }
}
