/* _fonts.scss */

@font-face {
  font-family: "SourceCodePro";
  src: url("../assets/fonts/Gotham-Medium.otf") format("opentype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterTight";
  src: url("../assets/fonts/InterTight-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Alpino";
  src: url("../assets/fonts/Alpino-Variable.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlpinoRegular";
  src: url("../assets/fonts/Alpino-Regular.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
